body {
  font-family: 'Montserrat';
  text-align: center;
}

p {
  text-align: center;
}

header {
  text-align: center;
}

.indexheader {
  width: 35%;
  padding-top: 15%;
  padding-left: 5%;
}

@media screen and
  (min-width: 800px) {
.indexheader{
  display: none;
}
  };

  @media screen and
  (max-width: 800px) {
    .headerWeb{
      display: none;
    } 
  };

  .headerWeb{
    width: 100%;
  }


.introduction {
  padding-top: 10px;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: -0.015em;
  opacity: 0.9;
  padding: 5%
}

.imgindex {
  width: 40%;
  display: inline-block;
    line-height: 17px;

  margin: auto;
  font-size: 12px;
  letter-spacing: -0.015em;
}

.pics {
  width: 45%;
}

h2 {
  font-size: 13px;

}


/*HOJA 2 */

.loginHeader {
  width: 48%;
  padding-top: 20%;
  padding-left: 10%;
  text-align: center;
}

.container {
  font-family: 'Roboto';
  font-style: italic;
  border: none;
  box-sizing: border-box;
  border-radius: 50px;
  background: rgba(27, 26, 25, 0.09);
  width: 100%;
  height: 52px;
}

.sesion, .registro {
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 10%;
}

.bluebutton {
  width: 100%;
  height: 52px;
  background: #2F14CC;
  border-radius: 50px;
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 17px;
  color: #FFFFFF;

}
/* /hoja 3/ */

.register3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight:100;
  font-size: 25px;
  line-height: 30%;
  text-align: center;
  letter-spacing: -0.015em;
  padding-top: 10%;
  display: inline-block;
  padding-right: 30%
}


.footerRegister {
  width: 20%;
  left: 158px;
  padding-top: 25%

}

/* hoja 4 */

.informacion {
  width: 303px;
  height: 250px;
  left: 55px;
  padding-top: 40px;
  margin: auto;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
  font-size: 15px;
  text-align: center;
  letter-spacing: -0.015em;
  color: #000000;
  opacity: 0.9;
}




.titledata {
  font-family: Montserrat;
  font-style: normal;
  font-size: 21px;
  line-height: 25px;
  /* or 119% */

  text-align: center;
  letter-spacing: -0.015em;
}

/* hoja 5 */
.iconSelect {
  width: 80px;
  height: 60px;
}

.iconGrid {
  width: 304px;
  height: 240px;
  left: 50px;
  top: 411px;
  margin: auto;
}

.footer4 {
  padding-top: 50px;
  width: 98px;
  height: 75px;
}

/*  padding-top: 411px;
} */







.btn {
  background: #FFFFFF;
  border: 3px solid #2F14CC;
  box-sizing: border-box;
  border-radius: 50px;
  width: 30%;
  height: 35px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  letter-spacing: -0.015em;
}
/* ////////// */
.btn:hover {
  background-color: rgba(48, 20, 204, 0.411);
  color: black
}

.btn:active {
  background-color: rgba(48, 20, 204, 0.411);
  color: black
}


.from,
.to {
  width: 25%;
  height: 28px;
  background: #EBEBEB;
  border-radius: 50px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: -0.015em;
}

.footerGraph{
  width: 20%;
  left: 158px;
  padding-top: 70%;
}

.iconSelected {
  width: 15%;
  float:right;
  padding-right: 5%;
}

.back{
  float: left;
  padding-left: 5%;
  padding-top: 6%
}

.backIcon{
  padding-top: 5%;
  padding-bottom: 19%;
}

.pag3 {
  margin: auto;
}

#graficasD {
  display: inline-block;
  margin: 25px auto; 
}

#tabla {
  margin: 50px auto;
}

/* ////////////////// */

